@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --tw-gradient-from: #101114 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(48, 27, 211) var(--tw-gradient-to-position);
--tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
--popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 231 90% 64%;
  --primary-foreground: 0 0% 100%;
  --secondary: 232 100% 97%;
  --secondary-foreground: 231 90% 1%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem
}
.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: 231,90%,64%,1;
  --primary-foreground: 0,0%,100%,1;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --ring: 217.2 32.6% 17.5%
}

*{
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* color: white; */
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground))
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  

}

#__next {
  background-image: linear-gradient(rgba(16, 17, 20, 0.96), rgba(16, 17, 20, 0.96)), url('/assets/dot-grid.png');
  /* background-color: #101114; */
  background-color: white;
  background-repeat: repeat;
  color: #8D8BA7;
}
#__next .dark h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
}
*::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
  width: 0 !important;
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom,var(--tw-gradient-stops))
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right,var(--tw-gradient-stops))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position)
}
.ring-offset-background {
  --tw-ring-offset-color: hsl(var(--background))
}

.to-gray-600 {
  --tw-gradient-to: #535565 var(--tw-gradient-to-position)
}
button,input,optgroup,select,textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

.border-input {
  border-color: hsl(var(--input))
}

.font-inter{
font-family: 'Inter', sans-serif;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text
}
.input {
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/10);
  padding: 0.5rem 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(20 15 71/var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  margin-bottom: 20px;
  margin-top: 10px;
}

html {
  scroll-behavior: smooth !important;
 
}
